# Descriptive Statistics Automation Project

The project aims to automate whatever is possible within my knowledge, program tools to assist in data processing and analysis, practice knowledge and seek more.

Click run all and go to the last cell to download the descriptive analysis PDF

# Environment preparation

instala bibliotecas

chama as bibliotecas

prepara o pdf

faz a leitura dos dados (csv, xls, json)

faz a classificação dos tipos de dados

faz a limpeza dos dados

ativa o conjunto de operações de cada tipo, qualitativo, quantitativo

reune tudo em um pdf e salva com download

## Install libraries

In [1]:
%pip install weasyprint
%pip install -U kaleido

Collecting weasyprint
  Downloading weasyprint-65.0-py3-none-any.whl.metadata (3.7 kB)
Collecting pydyf>=0.11.0 (from weasyprint)
  Downloading pydyf-0.11.0-py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: cffi>=0.6 in /usr/local/lib/python3.11/dist-packages (from weasyprint) (1.17.1)
Collecting tinyhtml5>=2.0.0b1 (from weasyprint)
  Downloading tinyhtml5-2.0.0-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: tinycss2>=1.4.0 in /usr/local/lib/python3.11/dist-packages (from weasyprint) (1.4.0)
Collecting cssselect2>=0.8.0 (from weasyprint)
  Downloading cssselect2-0.8.0-py3-none-any.whl.metadata (2.9 kB)
Collecting Pyphen>=0.9.1 (from weasyprint)
  Downloading pyphen-0.17.2-py3-none-any.whl.metadata (3.2 kB)
Requirement already satisfied: Pillow>=9.1.0 in /usr/local/lib/python3.11/dist-packages (from weasyprint) (11.1.0)
Requirement already satisfied: fonttools>=4.0.0 in /usr/local/lib/python3.11/dist-packages (from fonttools[woff]>=4.0.0->weasyprint) (4.56.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.11/dist-packages (from cffi>=0.6->weasyprint) (2.22)
Requirement already satisfied: webencodings in /usr/local/lib/python3.11/dist-packages (from cssselect2>=0.8.0->weasyprint) (0.5.1)
Collecting brotli>=1.0.1 (from fonttools[woff]>=4.0.0->weasyprint)
  Downloading Brotli-1.1.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.5 kB)
Collecting zopfli>=0.1.4 (from fonttools[woff]>=4.0.0->weasyprint)
  Downloading zopfli-0.2.3.post1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (2.9 kB)
Downloading weasyprint-65.0-py3-none-any.whl (297 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 297.9/297.9 kB 5.0 MB/s eta 0:00:00a 0:00:01
Downloading cssselect2-0.8.0-py3-none-any.whl (15 kB)
Downloading pydyf-0.11.0-py3-none-any.whl (8.1 kB)
Downloading pyphen-0.17.2-py3-none-any.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 36.5 MB/s eta 0:00:0000:01
Downloading tinyhtml5-2.0.0-py3-none-any.whl (39 kB)
Downloading Brotli-1.1.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.9/2.9 MB 60.3 MB/s eta 0:00:00:00:01
Downloading zopfli-0.2.3.post1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (850 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 850.6/850.6 kB 26.6 MB/s eta 0:00:00
Installing collected packages: brotli, zopfli, tinyhtml5, Pyphen, pydyf, cssselect2, weasyprint
Successfully installed Pyphen-0.17.2 brotli-1.1.0 cssselect2-0.8.0 pydyf-0.11.0 tinyhtml5-2.0.0 weasyprint-65.0 zopfli-0.2.3.post1
Note: you may need to restart the kernel to use updated packages.
Collecting kaleido
  Downloading kaleido-0.2.1-py2.py3-none-manylinux1_x86_64.whl.metadata (15 kB)
Downloading kaleido-0.2.1-py2.py3-none-manylinux1_x86_64.whl (79.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.9/79.9 MB 18.9 MB/s eta 0:00:00:00:0100:01
Installing collected packages: kaleido
Successfully installed kaleido-0.2.1
Note: you may need to restart the kernel to use updated packages.

## Import libraries

In [2]:
import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio
import seaborn as sns
import plotly as plt
import pandas as pd
import numpy as np
import warnings
import base64
import io

from sklearn.feature_selection import mutual_info_classif, mutual_info_regression
from sklearn.preprocessing import LabelEncoder
from scipy.stats import spearmanr, pearsonr
from scipy.stats import gaussian_kde
from weasyprint import HTML
from PIL import Image

In [3]:
warnings.filterwarnings('ignore')

## Prepare PDF

In [4]:
class PDFGenerator:
    def __init__(self):
        self.html_content = ""
        self.image_count = 0
        self.level = 1
    
    def add_header(self, text):
        self.html_content += f"<h{self.level}>{text}</h{self.level}>"
    
    def add_text(self, text):
        self.html_content += f"<p>{text}</p>"

    def add_break(self):
        self.html_content += f"<br />"
    
    def add_dataframe(self, df, style=False):
        if style:
            self.html_content += df.style.set_table_styles([
                {'selector': 'th', 'props': [('background-color', '#40466e'), ('color', 'white')],
                 'selector': 'td', 'props': [('border', '1px solid #ddd')]}
            ]).hide(axis='index').to_html()
        else:
            self.html_content += df.to_html()
    
    def add_image(self, image_path, max_width=600, max_height=800, quality=100, spacing_before=10, spacing_after=10, margin_right=10, margin_left=10):
        """
        Adiciona imagem com espaçamento controlado
        
        Parâmetros adicionais:
        - spacing_before: Espaço antes da imagem (em pixels)
        - spacing_after: Espaço após a imagem (em pixels)
        """
        self.image_count += 1
        
        with Image.open(image_path) as img:
            width, height = img.size
            ratio = min(max_width/width, max_height/height)
            new_size = (int(width*ratio), int(height*ratio))
            img = img.resize(new_size, Image.Resampling.LANCZOS)
            
            img_bytes = io.BytesIO()
            img.save(img_bytes, format='PNG', quality=quality)
            img_bytes.seek(0)
            img_data = base64.b64encode(img_bytes.read()).decode('utf-8')
        
        # Adiciona espaçamento antes e depois da imagem
        self.html_content += (
            f'<div style="margin-top: {spacing_before}px {margin_right}px {spacing_after}px {margin_left}px; text-align:center;">'
            f'<img src="data:image/png;base64,{img_data}" '
            f'style="max-width:{max_width}px; max-height:{max_height}px; width:auto; height:auto;"/>'
            f'</div>'
        )
    
    def generate_pdf(self, filename="report.pdf"):
        # Usando WeasyPrint para melhor qualidade (instale com pip install weasyprint)
        HTML(string=self.html_content).write_pdf(filename)
        return filename

# Instancie o gerador
pdf_gen = PDFGenerator()


# Célula com texto
# pdf_gen.add_header("Análise Exploratória de Dados")
# pdf_gen.add_text("Esta é uma análise completa dos dados de vendas do trimestre.")

# Célula com DataFrame
# pdf_gen.add_dataframe(df, style=True)

# Célula com visualização
# import matplotlib.pyplot as plt
# plt.bar(df['Mês'], df['Vendas'])
# plt.title('Vendas por Mês')
# plt.savefig('vendas.png')
# plt.close()
# pdf_gen.add_image('vendas.png')

## Read Data

In [5]:
df = pd.read_csv('/kaggle/input/student-depression-dataset/student_depression_dataset.csv') #kaggle/input/folder/archive.csv

# .read_excel('arquivo.xlsx')
# .read_json('arquivo.json')

In [6]:
df.iloc[:, 1:]

,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,'5-6 hours',Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,'5-6 hours',Moderate,BSc,No,3.0,2.0,Yes,0
2,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,'Less than 5 hours',Healthy,BA,No,9.0,1.0,Yes,0
3,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,'7-8 hours',Moderate,BCA,Yes,4.0,5.0,Yes,1
4,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,'5-6 hours',Moderate,M.Tech,Yes,1.0,1.0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,Female,27.0,Surat,Student,5.0,0.0,5.75,5.0,0.0,'5-6 hours',Unhealthy,'Class 12',Yes,7.0,1.0,Yes,0
27897,Male,27.0,Ludhiana,Student,2.0,0.0,9.40,3.0,0.0,'Less than 5 hours',Healthy,MSc,No,0.0,3.0,Yes,0
27898,Male,31.0,Faridabad,Student,3.0,0.0,6.61,4.0,0.0,'5-6 hours',Unhealthy,MD,No,12.0,2.0,No,0
27899,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,'Less than 5 hours',Healthy,'Class 12',Yes,10.0,5.0,No,1
27900,Male,27.0,Patna,Student,4.0,0.0,9.24,1.0,0.0,'Less than 5 hours',Healthy,BCA,Yes,2.0,3.0,Yes,1

## Classification Data

In [7]:
pdf_gen.add_header("Visualização e Conferência do Dataset")

pdf_gen.add_dataframe(df[0:6], style=True)

df.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,'5-6 hours',Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,'5-6 hours',Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,'Less than 5 hours',Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,'7-8 hours',Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,'5-6 hours',Moderate,M.Tech,Yes,1.0,1.0,No,0

In [8]:
pdf_gen.add_text(f"""Tipo inicial dos dados: \n 
{df.dtypes}
\n""".replace("\n", "<br />"))

print(df.dtypes)

id                                         int64
Gender                                    object
Age                                      float64
City                                      object
Profession                                object
Academic Pressure                        float64
Work Pressure                            float64
CGPA                                     float64
Study Satisfaction                       float64
Job Satisfaction                         float64
Sleep Duration                            object
Dietary Habits                            object
Degree                                    object
Have you ever had suicidal thoughts ?     object
Work/Study Hours                         float64
Financial Stress                          object
Family History of Mental Illness          object
Depression                                 int64
dtype: object

Temos 4 tipos de dados

Qualitativos Nominais e Ordinais - string

Quantitativos Discretos e Continuos - int e float

e também o tipo especial data

In [9]:
# limpeza de símbolos monetários

'''df['Amount'] = df['Amount'].str.extract(r'(\d+[\.,]?\d*)')[0] \
                               .str.replace(',', '.') \
                               .astype(float)'''

"df['Amount'] = df['Amount'].str.extract(r'(\\d+[\\.,]?\\d*)')[0]                                .str.replace(',', '.')                                .astype(float)"

In [10]:
# transformação em data

'''df['Date'] = pd.to_datetime(df['Date'])'''

"df['Date'] = pd.to_datetime(df['Date'])"

In [11]:
df = df.convert_dtypes(convert_string=True, convert_floating=False, convert_integer=False)

In [12]:
pdf_gen.add_dataframe(df[0:3], style=True)

In [13]:
pdf_gen.add_text(f'''Verificando se, após a transformação os tipos dos dados correspondem aos da tabela: \n
{df.dtypes}
\n'''.replace("\n", "<br />"))


print(f'''Verificando se, após a transformação os tipos dos dados correspondem aos da tabela: \n

{df.dtypes}''')

Verificando se, após a transformação os tipos dos dados correspondem aos da tabela:


id                                                int64
Gender                                   string[python]
Age                                             float64
City                                     string[python]
Profession                               string[python]
Academic Pressure                               float64
Work Pressure                                   float64
CGPA                                            float64
Study Satisfaction                              float64
Job Satisfaction                                float64
Sleep Duration                           string[python]
Dietary Habits                           string[python]
Degree                                   string[python]
Have you ever had suicidal thoughts ?    string[python]
Work/Study Hours                                float64
Financial Stress                         string[python]
Family History of Mental Illness         string[python]
Depression                                        int64
dtype: object

## Cleaning Data

In [14]:
linha = df.shape[0]

coluna = df.shape[1]

df.dropna(inplace=True)

linha1 = df.shape[0]

coluna1 = df.shape[1]


pdf_gen.add_text(f'Antes da limpeza de dados faltantes, o data set tinha {linha} linhas e {coluna} colunas. A limpeza retirou {linha - linha1} linhas e {coluna - coluna1} colunas, ficando o dataset atualmente com {linha1} linhas e {coluna1} colunas.\n'.replace("\n", "<br />"))

print(f'Antes da limpeza de dados faltantes, o data set tinha {linha} linhas e {coluna} colunas. A limpeza retirou {linha - linha1} linhas e {coluna - coluna1} colunas, ficando o dataset atualmente com {linha1} linhas e {coluna1} colunas.')

Antes da limpeza de dados faltantes, o data set tinha 27901 linhas e 18 colunas. A limpeza retirou 0 linhas e 0 colunas, ficando o dataset atualmente com 27901 linhas e 18 colunas.

In [15]:
for coluna in df.columns:
    if (df[coluna].dtype == 'int') or (df[coluna].dtype == 'float'):
        Q1 = df[coluna].quantile(0.25)
        Q3 = df[coluna].quantile(0.75)
        IQR = Q3 - Q1
        limite_inferior = Q1 - 1.5 * IQR
        limite_superior = Q3 + 1.5 * IQR

        contagem_inferiores = (df[coluna] < limite_inferior).sum()
        contagem_superiores = (df[coluna] > limite_superior).sum()

        df[coluna] = df[coluna].apply(
            lambda x: limite_inferior if x < limite_inferior else 
                     (limite_superior if x > limite_superior else x))

pdf_gen.add_text(f"A quantidade de outliers detectados nas variáveis quantitativas foram {contagem_inferiores + contagem_superiores}.\nCom {contagem_inferiores} valores abaixo do limite inferior e {contagem_superiores} valores acima do limite superior, e todos eles foram substituidos pelos seus respectivos limites em cada coluna de dados quantitativos. \n".replace("\n", "<br />"))

print(f"A quantidade de outliers detectados nas variáveis quantitativas foram {contagem_inferiores + contagem_superiores}.\nCom {contagem_inferiores} valores abaixo do limite inferior e {contagem_superiores} valores acima do limite superior, e todos eles foram substituidos pelos seus respectivos limites em cada coluna de dados quantitativos. \n")

A quantidade de outliers detectados nas variáveis quantitativas foram 0.
Com 0 valores abaixo do limite inferior e 0 valores acima do limite superior, e todos eles foram substituidos pelos seus respectivos limites em cada coluna de dados quantitativos.

# Data Analysis

In [16]:
# bimodal analysis

import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from scipy.stats import pearsonr
from datetime import datetime

sns.set_palette("deep") 

def analise_bimodal(df):
    """
    Analisa combinações bimodais entre colunas de um DataFrame e gera visualizações específicas.
    
    Parâmetros:
    df (pd.DataFrame): DataFrame com os dados a serem analisados
    """
    
    # Verificar tipos de cada coluna
    col_types = {}
    for col in df.columns:
        if pd.api.types.is_numeric_dtype(df[col]):
            col_types[col] = 'quantitativo'
        elif pd.api.types.is_datetime64_any_dtype(df[col]):
            col_types[col] = 'data'
        else:
            col_types[col] = 'qualitativo'
    
    # Percorrer todas as combinações únicas de colunas
    cols = df.columns.tolist()
    for i in range(len(cols)):
        for j in range(i + 1, len(cols)):
            col1 = cols[i]
            col2 = cols[j]
            type1 = col_types[col1]
            type2 = col_types[col2]
            
            print(f"\nAnalisando combinação: {col1} ({type1}) vs {col2} ({type2})")
            pdf_gen.add_text(f'''\n
            Analisando combinação: \n
            {col1} ({type1}) vs {col2} ({type2})\n
            '''.replace("\n", "<br />"))
            
            # Qualitativo vs Qualitativo
            if type1 == 'qualitativo' and type2 == 'qualitativo':
                analise_qual_qual(df, col1, col2)
            
            # Qualitativo vs Quantitativo
            elif (type1 == 'qualitativo' and type2 == 'quantitativo') or \
                 (type1 == 'quantitativo' and type2 == 'qualitativo'):
                if type1 == 'quantitativo':  # Garantir ordem qualitativo -> quantitativo
                    col1, col2 = col2, col1
                analise_qual_quant(df, col1, col2)
            
            # Quantitativo vs Quantitativo
            elif type1 == 'quantitativo' and type2 == 'quantitativo':
                analise_quant_quant(df, col1, col2)
            
            # Qualitativo vs Data
            elif (type1 == 'qualitativo' and type2 == 'data') or \
                 (type1 == 'data' and type2 == 'qualitativo'):
                if type1 == 'data':  # Garantir ordem qualitativo -> data
                    col1, col2 = col2, col1
                analise_qual_data(df, col1, col2)
            
            # Quantitativo vs Data
            elif (type1 == 'quantitativo' and type2 == 'data') or \
                 (type1 == 'data' and type2 == 'quantitativo'):
                if type1 == 'data':  # Garantir ordem quantitativo -> data
                    col1, col2 = col2, col1
                analise_quant_data(df, col1, col2)
            
            else:
                print(f"Combinação não tratada: {type1} vs {type2}")
                pdf_gen.add_text(f'''
                Combinação não tratada: \n
                {col1} ({type1}) vs {col2} ({type2})\n
                '''.replace("\n", "<br />"))

def analise_qual_qual(df, col1, col2):
    """Análise para duas variáveis qualitativas"""
    # Tabela de frequência
    freq = pd.crosstab(df[col1], df[col2], margins=True)
    freq_rel = pd.crosstab(df[col1], df[col2], normalize='all') * 100
    
    print("\nTabela de Frequência Absoluta:")
    display(freq)

    pdf_gen.add_dataframe(freq, style=False)

    pdf_gen.add_break()
    
    print("\nTabela de Frequência Relativa (%):")
    display(freq_rel.style.format("{:.2f}%"))

    pdf_gen.add_dataframe(freq_rel.style.format("{:.2f}%"), style=False)

    pdf_gen.add_break()
    
    # Gráfico de barras agrupadas
    fig = px.bar(df, x=col1, color=col2, barmode='group',
                 title=f"Distribuição de {col1} por {col2}")
    fig.show(renderer='iframe')

    fig.write_image("barplot.png", scale=2)

    pdf_gen.add_image("barplot.png")

def analise_qual_quant(df, col_qual, col_quant):
    """Análise para variável qualitativa vs quantitativa"""
    # Histogramas lado a lado
    fig = px.histogram(df, x=col_quant, color=col_qual, marginal="rug",
                       nbins=30, barmode='overlay', opacity=0.7,
                       title=f"Distribuição de {col_quant} por {col_qual}")
    fig.update_layout(bargap=0.1)
    fig.show(renderer='iframe')

    fig.write_image("histogram.png", scale=2)

    pdf_gen.add_image("histogram.png")
    
    # Boxplot para comparação
    fig = px.box(df, x=col_qual, y=col_quant, color=col_qual,
                 title=f"Distribuição de {col_quant} por {col_qual}")
    fig.show(renderer='iframe')

    fig.write_image("boxplot.png", scale=2)

    pdf_gen.add_image("boxplot.png")

def analise_quant_quant(df, col1, col2):
    """Análise para duas variáveis quantitativas"""
    # Scatter plot
    fig = px.scatter(df, x=col1, y=col2, trendline="ols",
                     title=f"Relação entre {col1} e {col2}")
    
    # Calcular correlação
    corr, p_valor = pearsonr(df[col1].dropna(), df[col2].dropna())
    
    # Remover linha de tendência se não houver correlação significativa
    if p_valor > 0.05:
        fig.data = [fig.data[0]]  # Mantém apenas o scatter
        fig.update_layout(annotations=[], title=f"Relação entre {col1} e {col2} (sem correlação significativa)")
    
    fig.add_annotation(text=f"Correlação: {corr:.2f} (p-valor: {p_valor:.3f})",
                       xref="paper", yref="paper",
                       x=0.05, y=0.95, showarrow=False)
    fig.show(renderer='iframe')

    fig.write_image("scatterlineplot.png", scale=2)

    pdf_gen.add_image("scatterlineplot.png")

def analise_qual_data(df, col_qual, col_data):
    """Análise para variável qualitativa vs data"""
    # Determinar granularidade temporal
    n_anos = df[col_data].dt.year.nunique()
    
    if n_anos >= 3:
        # Agrupar por ano
        df_temp = df.copy()
        df_temp['Ano'] = df_temp[col_data].dt.year
        df_grouped = df_temp.groupby(['Ano', col_qual]).size().reset_index(name='Contagem')
        
        fig = px.line(df_grouped, x='Ano', y='Contagem', color=col_qual,
                      title=f"Evolução Temporal de {col_qual} (por Ano)")
    else:
        # Agrupar por mês-ano
        df_temp = df.copy()
        df_temp['Mês-Ano'] = df_temp[col_data].dt.to_period('M').dt.to_timestamp()
        df_grouped = df_temp.groupby(['Mês-Ano', col_qual]).size().reset_index(name='Contagem')
        
        fig = px.line(df_grouped, x='Mês-Ano', y='Contagem', color=col_qual,
                      title=f"Evolução Temporal de {col_qual} (por Mês)")
    
    fig.update_traces(mode='lines+markers')
    fig.show(renderer='iframe')

    fig.write_image("lineplot.png", scale=2)

    pdf_gen.add_image("lineplot.png")

def analise_quant_data(df, col_quant, col_data):
    """Análise para variável quantitativa vs data"""
    # Determinar granularidade temporal
    n_anos = df[col_data].dt.year.nunique()
    
    if n_anos >= 3:
        # Agrupar por ano
        df_temp = df.copy()
        df_temp['Ano'] = df_temp[col_data].dt.year
        df_grouped = df_temp.groupby('Ano')[col_quant].mean().reset_index()
        
        fig = px.line(df_grouped, x='Ano', y=col_quant,
                      title=f"Série Temporal de {col_quant} (por Ano)")
    else:
        # Agrupar por mês-ano
        df_temp = df.copy()
        df_temp['Mês-Ano'] = df_temp[col_data].dt.to_period('M').dt.to_timestamp()
        df_grouped = df_temp.groupby('Mês-Ano')[col_quant].mean().reset_index()
        
        fig = px.line(df_grouped, x='Mês-Ano', y=col_quant,
                      title=f"Série Temporal de {col_quant} (por Mês)")
    
    # Adicionar média móvel
    fig.add_trace(go.Scatter(
        x=df_grouped.iloc[:, 0],
        y=df_grouped[col_quant].rolling(3, min_periods=1).mean(),
        name='Média Móvel (3 períodos)',
        line=dict(color='red', dash='dash')
    ))
    
    fig.update_traces(mode='lines+markers')
    fig.update_xaxes(rangeslider_visible=True)
    fig.show(renderer='iframe')

    fig.write_image("scatterplot.png", scale=2)

    pdf_gen.add_image("scatterplot.png")

In [17]:
# Heatmaps

def safe_pearson(x, y):
    """Calcula Pearson apenas para variáveis numéricas"""
    if pd.api.types.is_numeric_dtype(x) and pd.api.types.is_numeric_dtype(y):
        return pearsonr(x, y)[0]
    return np.nan

def safe_spearman(x, y):
    """Calcula Spearman para qualquer tipo após conversão"""
    try:
        return spearmanr(x, y).correlation
    except:
        return np.nan

def safe_mutual_info(x, y):
    """Calcula informação mútua de acordo com os tipos de dados"""
    try:
        if pd.api.types.is_numeric_dtype(y):
            return mutual_info_regression(x.values.reshape(-1, 1), y)[0]
        else:
            return mutual_info_classif(x.values.reshape(-1, 1), y)[0]
    except:
        return np.nan

def calculate_correlations(df):
    """Calcula todas as matrizes de correlação"""
    cols = df.columns
    n = len(cols)
    
    pearson = np.zeros((n, n))
    spearman = np.zeros((n, n))
    mi = np.zeros((n, n))
    
    # Pré-processamento para Spearman/MI
    df_encoded = df.copy()
    for col in df.select_dtypes(include=['object', 'category']):
        df_encoded[col] = LabelEncoder().fit_transform(df[col])
    
    for i in range(n):
        for j in range(n):
            pearson[i, j] = safe_pearson(df[cols[i]], df[cols[j]])
            spearman[i, j] = safe_spearman(df_encoded[cols[i]], df_encoded[cols[j]])
            mi[i, j] = safe_mutual_info(df_encoded[cols[i]], df_encoded[cols[j]])
    
    return {
        'Pearson': pd.DataFrame(pearson, index=cols, columns=cols),
        'Spearman': pd.DataFrame(spearman, index=cols, columns=cols),
        'Mutual_Info': pd.DataFrame(mi, index=cols, columns=cols)
    }

def plot_correlation_heatmaps(df):
    """Gera e exibe os heatmaps sem retornar valores"""
    correlations = calculate_correlations(df)
    
    # Heatmap Pearson
    fig_pearson = go.Figure(go.Heatmap(
        z=correlations['Pearson'],
        x=df.columns,
        y=df.columns,
        zmin=-1,
        zmax=1,
        colorscale='RdBu',
        text=np.round(correlations['Pearson'], 2),
        texttemplate="%{text}"
    ))
    fig_pearson.update_layout(title='Correlação Linear (Pearson)')
    fig_pearson.show(renderer='iframe')

    fig_pearson.write_image("heatmap_pearson.png", scale=2)

    pdf_gen.add_image("heatmap_pearson.png")
    
    
    # Heatmap Spearman
    fig_spearman = go.Figure(go.Heatmap(
        z=correlations['Spearman'],
        x=df.columns,
        y=df.columns,
        zmin=-1,
        zmax=1,
        colorscale='RdBu',
        text=np.round(correlations['Spearman'], 2),
        texttemplate="%{text}"
    ))
    fig_spearman.update_layout(title='Correlação Monotônica (Spearman)')
    fig_spearman.show(renderer='iframe')

    fig_spearman.write_image("heatmap_spearman.png", scale=2)

    pdf_gen.add_image("heatmap_spearman.png")
    
    
    # Heatmap Informação Mútua
    fig_mi = go.Figure(go.Heatmap(
        z=correlations['Mutual_Info'],
        x=df.columns,
        y=df.columns,
        colorscale='Viridis',
        text=np.round(correlations['Mutual_Info'], 2),
        texttemplate="%{text}"
    ))
    fig_mi.update_layout(title='Dependência Não-Linear (Informação Mútua)')
    fig_mi.show(renderer='iframe')

    fig_mi.write_image("heatmap_mi.png", scale=2)

    pdf_gen.add_image("heatmap_mi.png")

In [18]:
def analise_qualitativa(series):
    
    # unicos
    pdf_gen.add_text(f"""Há {len(series.unique())} valores unicos dos quais são: \n
    {series.unique()}
    \n""".replace("\n", "<br />"))
    
    # moda
    pdf_gen.add_text(f'''O que valor mais aparece (a moda) é \n
    {series.mode()}
    \n'''.replace("\n", "<br />"))

    
    # tabela de frequencia
    
    tabela_frequencia = pd.DataFrame(series.value_counts().reset_index())

    tabela_frequencia.columns = [series.name, 'Frequência Simples (ni)']

    tabela_frequencia['Frequência Relativa % (fi)'] = (tabela_frequencia['Frequência Simples (ni)'] / len(series)) * 100

    tabela_frequencia['Frequência Acumulada (Ni)'] = tabela_frequencia['Frequência Simples (ni)'].cumsum()

    tabela_frequencia['Frequência Relativa Acumulada % (Fi)'] = tabela_frequencia['Frequência Relativa % (fi)'].cumsum()
    
    tabela_frequencia_visual = tabela_frequencia.style.format({'Frequência Relativa % (fi)': '{:.2f}%', 'Frequência Relativa Acumulada % (Fi)': '{:.2f}%'})

    pdf_gen.add_dataframe(tabela_frequencia_visual, style=False)

    pdf_gen.add_break()

    
    # graficos

        # pizza
    fig_pie = px.pie(
        tabela_frequencia,
        names=series.name,
        values='Frequência Relativa % (fi)',
        title=f'Representação de cada {series.name}',
        color_discrete_sequence=px.colors.qualitative.Pastel
    )

        # melhorar a formatação
    fig_pie.update_traces(
        textposition='outside',
        textinfo='percent+label',
        pull=[0.12, 0.12, 0.12]  # Destacar as três primeiras fatias
    )
    
        # mostrar o gráfico
    fig_pie.show(renderer='iframe')
    
        # salvar como imagem
    fig_pie.write_image("grafico_pizza.png", scale=2)

    pdf_gen.add_image("grafico_pizza.png")

    # barras
    fig_bar = px.bar(
        tabela_frequencia,
        x=series.name,
        y='Frequência Relativa % (fi)',
        title=f'Representação de cada {series.name}',
        color=series.name,
        color_discrete_sequence=px.colors.qualitative.Set2
    )
    
        # personalizar o layout
    fig_bar.update_layout(
        xaxis_title=series.name,
        yaxis_title='Frequência Relativa % (fi)',
        showlegend=False,
        hovermode='x'
    )
    
        # adicionar valores nas barras
    fig_bar.update_traces(
        texttemplate='%{y}',
        textposition='outside'
    )
    
        # mostrar o gráfico
    fig_bar.show(renderer='iframe')
    
        # salvar como imagem
    fig_bar.write_image("grafico_barras.png", scale=2)

    pdf_gen.add_image("grafico_barras.png")

In [19]:
def analise_quantitativa(series):
    
    # media, moda, mediana
    media = series.mean()
    moda = series.median()
    mediana = series.mode()

    pdf_gen.add_text(f'''Os dados de {series.name} possuem:\n
    media: {media:.2f}\n
    moda: {moda:.2f}\n
    mediana: {mediana.iloc[0]:.2f}\n
    '''.replace("\n", "<br />"))


    # tabela de frequência intervalar
        
        # calculando número de classes (Regra de Sturges)
    n = len(series)
    k = int(1 + 3.322 * np.log10(n)) if n > 0 else 5
    if (k > 7):
        k = 7
    
        # calculando amplitude
    amplitude = series.max() - series.min()
    
        # calculando amplitude de cada classe
    h = amplitude / k

        # gerando os limites das classes
    limites_inferiores = np.linspace(series.min(), series.max() - h, k)
    limites_superiores = limites_inferiores + h
    
        # arredondando para melhor visualização
    limites_inferiores = np.round(limites_inferiores, 2)
    limites_superiores = np.round(limites_superiores, 2)

        # formata os intervalos de classe
    classes = [f"{li:.0f} ⊢ {ls:.0f}" for li, ls in zip(limites_inferiores, limites_superiores)]
    
        # calcula as frequências absolutas (ni)
    frequencias = []
    for li, ls in zip(limites_inferiores, limites_superiores):
        freq = ((series >= li) & (series < ls)).sum()
        frequencias.append(freq)
    
        # calcula os pontos médios (Xi)
    pontos_medios = (limites_inferiores + limites_superiores) / 2
    
        # cria o DataFrame base
    tabela = pd.DataFrame({
        series.name: classes,
        'Frequência (ni)': frequencias,
    })
    
    
        # calcula as demais colunas
    tabela['Frequência Relativa % (fi)'] = np.round(tabela['Frequência (ni)'] / n, 4)
    tabela['Frequência Relativa % (fi)'] = (tabela['Frequência Relativa % (fi)'] * 100).round(2)
    tabela['Frequência Acumulada (Ni)'] = tabela['Frequência (ni)'].cumsum()
    tabela['Frequência Relativa Acumulada % (Fi)'] = np.round(tabela['Frequência Acumulada (Ni)'] / n, 4)
    tabela['Frequência Relativa Acumulada % (Fi)'] = (tabela['Frequência Relativa Acumulada % (Fi)'] * 100).round(2)
    tabela['Ponto Médio da Classe (Xi)'] = np.round(pontos_medios, 2)
    
        # adiciona a porcentagem para facilitar leitura
    tabela_visual = tabela.style.format({'Frequência Relativa % (fi)': '{:.2f}%', 'Frequência Relativa Acumulada % (Fi)': '{:.2f}%', 'Ponto Médio da Classe (Xi)': '{:.2f}'})
    
    pdf_gen.add_dataframe(tabela_visual, style=False)

    pdf_gen.add_break()

    
    # dispersão
    # desvio padrão e coeficiente de variação
    desvio = series.std()
        
    pdf_gen.add_text(f"Desvio padrão: \n{desvio:.4f} \n\nCoeficiente de variação: \n{(desvio/media)*100:.2f}%\n\n".replace("\n", "<br />"))
        
    # interpretação
    if desvio/media > 0.3:
        pdf_gen.add_text("Os dados estão relativamente dispersos em relação à média\n".replace("\n", "<br />"))
    else:
        pdf_gen.add_text("Os dados estão relativamente concentrados em torno da média\n".replace("\n", "<br />"))


    
    # boxplot completo com estatísticas
    fig = go.Figure()
    
    fig.add_trace(go.Box(
        y=series,
        name='Distribuição',
        boxpoints='outliers',  # Mostra outliers individuais
        marker_color='#1f77b4',
        line_color='#1f77b4',
        fillcolor='lightblue',
        jitter=0.5,  # Espaçamento dos pontos
        whiskerwidth=0.2,
        hoverinfo='y+name'
    ))
    
    # Adicionando estatísticas como anotações
    stats = series.describe()
    annotations = [
        dict(
            x=0.05,
            y=stats['mean'],
            xref='paper',
            yref='y',
            text=f'Média: {stats["mean"]:.2f}',
            showarrow=True,
            arrowhead=1,
            ax=-50
        ),
        dict(
            x=0.05,
            y=stats['50%'],
            xref='paper',
            yref='y',
            text=f'Mediana: {stats["50%"]:.2f}',
            showarrow=True,
            arrowhead=1,
            ax=-50
        )
    ]
    
    fig.update_layout(
        title=f'Boxplot of {series.name}',
        yaxis_title='Valores',
        showlegend=False,
        annotations=annotations,
        hovermode='y unified',
        height=600
    )
    
    fig.show(renderer='iframe')

    fig.write_image("boxplot.png", scale=2)

    pdf_gen.add_image("boxplot.png")



    # simetria/assimetria

        # configuração do tema
    pio.templates.default = "plotly_white"
    
        # entrada dos dados 
    dados = series

    media = float(dados.mean())  # Convertendo para float nativo
    mediana = float(dados.median())
    modas = dados.mode().values  # Array numpy com as modas

    title = f"Histogram of {series.name}"

    valores = dados

     # Tentar adicionar KDE
    fig = go.Figure()
    
    # Adicionar histograma
    fig.add_trace(go.Histogram(
        x=valores,
        name='Histograma',
        nbinsx=30,
        marker_color='#1f77b4',
        opacity=0.7,
        histnorm='probability density',
        hovertemplate='Intervalo: %{x:.2f}<br>Frequência: %{y:.4f}<extra></extra>'
    ))
    
    # Adicionar curva KDE (se possível)
    try:
        if len(np.unique(valores)) > 1:  # Verifica se há variância
            kde = gaussian_kde(valores)
            x_kde = np.linspace(np.min(valores), np.max(valores), 500)
            y_kde = kde(x_kde)
            
            fig.add_trace(go.Scatter(
                x=x_kde, y=y_kde,
                name='Densidade KDE',
                line=dict(color='#ff7f0e', width=2),
                hovertemplate='Valor: %{x:.2f}<br>Densidade: %{y:.4f}<extra></extra>'
            ))
        else:
            pdf_gen.add_text(f"Os dados de {series.name} são constantes\n".replace("\n", "<br />"))
            raise ValueError("Dados constantes")
            
    except Exception as e:
        pdf_gen.add_text(f"O KDE de {series.name} não pôde ser calculado.\nMotivo:\n{str(e)}\n".replace("\n", "<br />"))
        print(f"Aviso: Não foi possível calcular KDE - {str(e)}")
        
    
    # Posições verticais para as anotações (evitar sobreposição)
    y_positions = {
        'media': 0.9,
        'mediana': 0.7,
        'moda': 0.5
    }
    
    # Adicionar linha da média
    fig.add_vline(
        x=media,
        line=dict(color='red', dash='dash', width=2),
        annotation_text=f'Média: {media:.2f}',
        annotation_position="top right",
        annotation_y=y_positions['media'],
        annotation_yanchor="top",
        annotation_font=dict(color='red')
    )
    
    # Adicionar linha da mediana
    fig.add_vline(
        x=mediana,
        line=dict(color='green', width=2),
        annotation_text=f'Mediana: {mediana:.2f}',
        annotation_position="bottom right",
        annotation_y=y_positions['mediana'],
        annotation_yanchor="top",
        annotation_font=dict(color='green')
    )
    
    # Adicionar linhas para moda(s)
    for i, moda in enumerate(modas):
        fig.add_vline(
            x=moda,
            line=dict(color='purple', dash='dot', width=2),
            annotation_text=f'Moda {i+1}: {moda:.2f}' if len(modas) > 1 else f'Moda: {moda:.2f}',
            annotation_position="top left",
            annotation_y=y_positions['moda'] - (i*0.1),  # Deslocamento para múltiplas modas
            annotation_yanchor="top",
            annotation_font=dict(color='purple')
        )
    
    # Layout final
    fig.update_layout(
        title=title,
        xaxis_title='Valores',
        yaxis_title='Densidade',
        hovermode='x unified',
        showlegend=True,
        legend=dict(
            orientation="h",
            yanchor="bottom",
            y=1.02,
            xanchor="right",
            x=1
        ),
        height=600,
        margin=dict(t=50, b=50)
    )
    
    fig.show(renderer='iframe')

    fig.write_image("histograma.png", scale=2)      
        
    pdf_gen.add_image("histograma.png")

## Analysis functions

In [20]:
for coluna in df.columns:
    if (df[coluna].dtype == 'string'):
        pdf_gen.add_header(f'''\n{' ANALISE QUALITATIVA '} \n'''.replace("\n", "<br />"))
        analise_qualitativa(df[coluna])

    elif(df[coluna].dtype == ('float' or 'int')):
        pdf_gen.add_header(f'''\n{' ANALISE QUANTITATIVA '} \n'''.replace("\n", "<br />"))
        analise_quantitativa(df[coluna])


pdf_gen.add_header(f'''\n{' CORRELAÇÕES COM MAPAS DE CALOR '} \n'''.replace("\n", "<br />"))
plot_correlation_heatmaps(df)


pdf_gen.add_header(f'''\n{' ANÁLISES BIMODAIS '} \n'''.replace("\n", "<br />"))
analise_bimodal(df.iloc[:, 1:])

Aviso: Não foi possível calcular KDE - Dados constantes

Aviso: Não foi possível calcular KDE - Dados constantes

Analisando combinação: Gender (qualitativo) vs Age (quantitativo)

Analisando combinação: Gender (qualitativo) vs City (qualitativo)

Tabela de Frequência Absoluta:

City,'Less Delhi','Less than 5 Kalyan',3.0,Agra,Ahmedabad,Bangalore,Bhavna,Bhopal,Chennai,City,...,Saanvi,Srinagar,Surat,Thane,Vaanya,Vadodara,Varanasi,Vasai-Virar,Visakhapatnam,All
Gender,,,,,,,,,,,,,,,,,,,,,
Female,1,0,1,446,404,380,0,421,494,2,...,0,661,491,527,0,399,291,718,486,12354
Male,0,1,0,648,547,387,2,513,391,0,...,2,711,587,612,1,295,394,572,483,15547
All,1,1,1,1094,951,767,2,934,885,2,...,2,1372,1078,1139,1,694,685,1290,969,27901

Tabela de Frequência Relativa (%):

Analisando combinação: Gender (qualitativo) vs Profession (qualitativo)

Tabela de Frequência Absoluta:

Profession,'Civil Engineer','Content Writer','Digital Marketer','Educational Consultant','UX/UI Designer',Architect,Chef,Doctor,Entrepreneur,Lawyer,Manager,Pharmacist,Student,Teacher,All
Gender,,,,,,,,,,,,,,,
Female,0,1,2,0,1,5,2,1,1,0,0,0,12341,0,12354
Male,1,1,1,1,0,3,0,1,0,1,1,2,15529,6,15547
All,1,2,3,1,1,8,2,2,1,1,1,2,27870,6,27901

Tabela de Frequência Relativa (%):

Analisando combinação: Gender (qualitativo) vs Academic Pressure (quantitativo)

Analisando combinação: Gender (qualitativo) vs Work Pressure (quantitativo)

Analisando combinação: Gender (qualitativo) vs CGPA (quantitativo)

Analisando combinação: Gender (qualitativo) vs Study Satisfaction (quantitativo)

Analisando combinação: Gender (qualitativo) vs Job Satisfaction (quantitativo)

Analisando combinação: Gender (qualitativo) vs Sleep Duration (qualitativo)

Tabela de Frequência Absoluta:

Sleep Duration,'5-6 hours','7-8 hours','Less than 5 hours','More than 8 hours',Others,All
Gender,,,,,,
Female,2789,3291,3628,2637,9,12354
Male,3394,4055,4682,3407,9,15547
All,6183,7346,8310,6044,18,27901

Tabela de Frequência Relativa (%):

Analisando combinação: Gender (qualitativo) vs Dietary Habits (qualitativo)

Tabela de Frequência Absoluta:

Dietary Habits  Healthy  Moderate  Others  Unhealthy    All
Gender
Female             3624      4582       4       4144  12354
Male               4027      5339       8       6173  15547
All                7651      9921      12      10317  27901

Tabela de Frequência Relativa (%):

Analisando combinação: Gender (qualitativo) vs Degree (qualitativo)

Tabela de Frequência Absoluta:

Degree,'Class 12',B.Arch,B.Com,B.Ed,B.Pharm,B.Tech,BA,BBA,BCA,BE,...,MBA,MBBS,MCA,MD,ME,MHM,MSc,Others,PhD,All
Gender,,,,,,,,,,,,,,,,,,,,,
Female,2705,730,666,763,371,386,305,331,611,300,...,268,352,456,202,89,96,478,16,257,12354
Male,3375,748,840,1104,439,766,295,365,822,313,...,294,344,588,370,96,95,712,19,265,15547
All,6080,1478,1506,1867,810,1152,600,696,1433,613,...,562,696,1044,572,185,191,1190,35,522,27901

Tabela de Frequência Relativa (%):

Analisando combinação: Gender (qualitativo) vs Have you ever had suicidal thoughts ? (qualitativo)

Tabela de Frequência Absoluta:

Have you ever had suicidal thoughts ?     No    Yes    All
Gender
Female                                  4528   7826  12354
Male                                    5717   9830  15547
All                                    10245  17656  27901

Tabela de Frequência Relativa (%):

Analisando combinação: Gender (qualitativo) vs Work/Study Hours (quantitativo)

Analisando combinação: Gender (qualitativo) vs Financial Stress (qualitativo)

Tabela de Frequência Absoluta:

Financial Stress   1.0   2.0   3.0   4.0   5.0  ?    All
Gender
Female            2268  2225  2292  2536  3031  2  12354
Male              2853  2836  2934  3239  3684  1  15547
All               5121  5061  5226  5775  6715  3  27901

Tabela de Frequência Relativa (%):

Analisando combinação: Gender (qualitativo) vs Family History of Mental Illness (qualitativo)

Tabela de Frequência Absoluta:

Family History of Mental Illness     No    Yes    All
Gender
Female                             6266   6088  12354
Male                               8132   7415  15547
All                               14398  13503  27901

Tabela de Frequência Relativa (%):

Analisando combinação: Gender (qualitativo) vs Depression (quantitativo)

Analisando combinação: Age (quantitativo) vs City (qualitativo)

Analisando combinação: Age (quantitativo) vs Profession (qualitativo)

Analisando combinação: Age (quantitativo) vs Academic Pressure (quantitativo)

Analisando combinação: Age (quantitativo) vs Work Pressure (quantitativo)

Analisando combinação: Age (quantitativo) vs CGPA (quantitativo)

Analisando combinação: Age (quantitativo) vs Study Satisfaction (quantitativo)

Analisando combinação: Age (quantitativo) vs Job Satisfaction (quantitativo)

Analisando combinação: Age (quantitativo) vs Sleep Duration (qualitativo)

Analisando combinação: Age (quantitativo) vs Dietary Habits (qualitativo)

Analisando combinação: Age (quantitativo) vs Degree (qualitativo)

Analisando combinação: Age (quantitativo) vs Have you ever had suicidal thoughts ? (qualitativo)

Analisando combinação: Age (quantitativo) vs Work/Study Hours (quantitativo)

Analisando combinação: Age (quantitativo) vs Financial Stress (qualitativo)

Analisando combinação: Age (quantitativo) vs Family History of Mental Illness (qualitativo)

Analisando combinação: Age (quantitativo) vs Depression (quantitativo)

Analisando combinação: City (qualitativo) vs Profession (qualitativo)

Tabela de Frequência Absoluta:

Profession,'Civil Engineer','Content Writer','Digital Marketer','Educational Consultant','UX/UI Designer',Architect,Chef,Doctor,Entrepreneur,Lawyer,Manager,Pharmacist,Student,Teacher,All
City,,,,,,,,,,,,,,,
'Less Delhi',0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
'Less than 5 Kalyan',0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
3.0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
Agra,0,0,0,1,0,0,1,0,0,0,0,0,1092,0,1094
Ahmedabad,1,0,1,0,0,0,0,0,0,0,0,0,949,0,951
Bangalore,0,0,0,0,0,1,0,0,0,0,0,0,766,0,767
Bhavna,0,0,0,0,0,0,0,0,0,0,0,0,2,0,2
Bhopal,0,0,0,0,0,1,0,0,0,0,0,0,933,0,934
Chennai,0,0,0,0,0,0,0,0,1,0,0,0,884,0,885
City,0,0,0,0,0,0,0,0,0,0,0,0,2,0,2
Delhi,0,0,0,0,0,1,0,0,0,0,0,0,767,0,768
Faridabad,0,0,0,0,0,0,0,0,0,0,0,0,461,0,461
Gaurav,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
Ghaziabad,0,1,0,0,0,0,0,0,0,0,0,0,744,0,745
Harsh,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
Harsha,0,0,0,0,0,0,0,0,0,0,0,0,2,0,2
Hyderabad,0,0,0,0,0,1,0,0,0,0,0,0,1339,0,1340
Indore,0,0,0,0,0,0,0,0,0,0,0,0,643,0,643
Jaipur,0,0,0,0,0,1,0,0,0,0,0,0,1034,1,1036
Kalyan,0,1,1,0,1,0,1,0,0,0,0,0,1564,2,1570
Kanpur,0,0,0,0,0,0,0,0,0,1,0,0,607,1,609
Khaziabad,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
Kibara,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
Kolkata,0,0,0,0,0,0,0,0,0,0,0,0,1066,0,1066
Lucknow,0,0,0,0,0,0,0,0,0,0,0,0,1155,0,1155
Ludhiana,0,0,1,0,0,0,0,0,0,0,0,1,1109,0,1111
M.Com,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
M.Tech,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
ME,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
Meerut,0,0,0,0,0,0,0,2,0,0,0,1,822,0,825
Mihir,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
Mira,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
Mumbai,0,0,0,0,0,1,0,0,0,0,0,0,698,0,699
Nagpur,0,0,0,0,0,0,0,0,0,0,0,0,651,0,651
Nalini,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
Nalyan,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
Nandini,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
Nashik,0,0,0,0,0,0,0,0,0,0,0,0,547,0,547
Patna,0,0,0,0,0,0,0,0,0,0,1,0,1006,0,1007
Pune,0,0,0,0,0,0,0,0,0,0,0,0,968,0,968
Rajkot,0,0,0,0,0,0,0,0,0,0,0,0,815,1,816
Rashi,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
Reyansh,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
Saanvi,0,0,0,0,0,0,0,0,0,0,0,0,2,0,2
Srinagar,0,0,0,0,0,0,0,0,0,0,0,0,1372,0,1372
Surat,0,0,0,0,0,0,0,0,0,0,0,0,1078,0,1078
Thane,0,0,0,0,0,0,0,0,0,0,0,0,1139,0,1139
Vaanya,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
Vadodara,0,0,0,0,0,1,0,0,0,0,0,0,693,0,694
Varanasi,0,0,0,0,0,0,0,0,0,0,0,0,685,0,685
Vasai-Virar,0,0,0,0,0,1,0,0,0,0,0,0,1289,0,1290
Visakhapatnam,0,0,0,0,0,0,0,0,0,0,0,0,968,1,969
All,1,2,3,1,1,8,2,2,1,1,1,2,27870,6,27901

Tabela de Frequência Relativa (%):

Analisando combinação: City (qualitativo) vs Academic Pressure (quantitativo)

Analisando combinação: City (qualitativo) vs Work Pressure (quantitativo)

Analisando combinação: City (qualitativo) vs CGPA (quantitativo)

Analisando combinação: City (qualitativo) vs Study Satisfaction (quantitativo)

Analisando combinação: City (qualitativo) vs Job Satisfaction (quantitativo)

Analisando combinação: City (qualitativo) vs Sleep Duration (qualitativo)

Tabela de Frequência Absoluta:

Sleep Duration,'5-6 hours','7-8 hours','Less than 5 hours','More than 8 hours',Others,All
City,,,,,,
'Less Delhi',0,1,0,0,0,1
'Less than 5 Kalyan',1,0,0,0,0,1
3.0,0,1,0,0,0,1
Agra,231,289,316,257,1,1094
Ahmedabad,184,262,272,232,1,951
Bangalore,178,169,217,203,0,767
Bhavna,1,0,1,0,0,2
Bhopal,237,256,248,193,0,934
Chennai,199,222,256,208,0,885
City,0,1,1,0,0,2
Delhi,147,205,227,187,2,768
Faridabad,117,110,122,111,1,461
Gaurav,1,0,0,0,0,1
Ghaziabad,152,201,233,159,0,745
Harsh,0,1,0,0,0,1
Harsha,1,0,0,1,0,2
Hyderabad,319,376,344,300,1,1340
Indore,134,175,213,121,0,643
Jaipur,245,267,300,224,0,1036
Kalyan,356,393,517,303,1,1570
Kanpur,116,168,198,126,1,609
Khaziabad,0,0,1,0,0,1
Kibara,0,1,0,0,0,1
Kolkata,228,296,331,211,0,1066
Lucknow,250,320,309,276,0,1155
Ludhiana,278,264,308,259,2,1111
M.Com,0,0,1,0,0,1
M.Tech,0,1,0,0,0,1
ME,0,1,0,0,0,1
Meerut,152,187,329,156,1,825
Mihir,0,0,1,0,0,1
Mira,0,0,0,1,0,1
Mumbai,147,191,204,156,1,699
Nagpur,151,171,193,134,2,651
Nalini,0,1,0,0,0,1
Nalyan,0,0,1,0,0,1
Nandini,1,0,0,0,0,1
Nashik,126,154,167,100,0,547
Patna,225,258,317,207,0,1007
Pune,209,253,287,219,0,968
Rajkot,181,216,251,168,0,816
Rashi,0,1,0,0,0,1
Reyansh,0,1,0,0,0,1
Saanvi,1,0,1,0,0,2
Srinagar,294,376,405,295,2,1372
Surat,247,284,325,222,0,1078
Thane,238,302,356,243,0,1139
Vaanya,0,0,0,1,0,1
Vadodara,167,174,198,155,0,694
Varanasi,174,191,186,134,0,685
Vasai-Virar,283,319,394,293,1,1290
Visakhapatnam,212,287,280,189,1,969
All,6183,7346,8310,6044,18,27901

Tabela de Frequência Relativa (%):

Analisando combinação: City (qualitativo) vs Dietary Habits (qualitativo)

Tabela de Frequência Absoluta:

Dietary Habits        Healthy  Moderate  Others  Unhealthy    All
City
'Less Delhi'                1         0       0          0      1
'Less than 5 Kalyan'        1         0       0          0      1
3.0                         0         0       0          1      1
Agra                      319       370       1        404   1094
Ahmedabad                 235       322       2        392    951
Bangalore                 197       286       1        283    767
Bhavna                      1         1       0          0      2
Bhopal                    262       360       0        312    934
Chennai                   261       304       0        320    885
City                        1         0       0          1      2
Delhi                     224       225       0        319    768
Faridabad                 138       165       0        158    461
Gaurav                      0         0       0          1      1
Ghaziabad                 181       288       1        275    745
Harsh                       0         0       0          1      1
Harsha                      0         0       0          2      2
Hyderabad                 387       428       0        525   1340
Indore                    146       265       1        231    643
Jaipur                    284       332       1        419   1036
Kalyan                    393       599       0        578   1570
Kanpur                    175       216       0        218    609
Khaziabad                   0         0       0          1      1
Kibara                      0         0       0          1      1
Kolkata                   247       410       1        408   1066
Lucknow                   328       372       1        454   1155
Ludhiana                  418       344       0        349   1111
M.Com                       0         0       0          1      1
M.Tech                      0         1       0          0      1
ME                          1         0       0          0      1
Meerut                    214       302       1        308    825
Mihir                       0         1       0          0      1
Mira                        1         0       0          0      1
Mumbai                    172       258       0        269    699
Nagpur                    180       199       0        272    651
Nalini                      0         1       0          0      1
Nalyan                      0         1       0          0      1
Nandini                     0         0       0          1      1
Nashik                    166       191       0        190    547
Patna                     234       427       0        346   1007
Pune                      288       363       0        317    968
Rajkot                    196       270       0        350    816
Rashi                       0         1       0          0      1
Reyansh                     0         0       0          1      1
Saanvi                      1         0       0          1      2
Srinagar                  354       483       0        535   1372
Surat                     294       411       0        373   1078
Thane                     280       432       0        427   1139
Vaanya                      0         0       0          1      1
Vadodara                  197       231       1        265    694
Varanasi                  174       280       0        231    685
Vasai-Virar               400       409       1        480   1290
Visakhapatnam             300       373       0        296    969
All                      7651      9921      12      10317  27901

Tabela de Frequência Relativa (%):

Analisando combinação: City (qualitativo) vs Degree (qualitativo)

Tabela de Frequência Absoluta:

Degree,'Class 12',B.Arch,B.Com,B.Ed,B.Pharm,B.Tech,BA,BBA,BCA,BE,...,MBA,MBBS,MCA,MD,ME,MHM,MSc,Others,PhD,All
City,,,,,,,,,,,,,,,,,,,,,
'Less Delhi',0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
'Less than 5 Kalyan',0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3.0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
Agra,211,67,57,80,46,55,60,36,51,16,...,31,23,60,12,4,3,57,0,20,1094
Ahmedabad,304,95,39,62,13,35,12,17,34,27,...,21,15,21,12,2,1,33,2,19,951
Bangalore,261,33,33,45,23,33,17,18,29,18,...,14,14,24,15,3,8,29,0,12,767
Bhavna,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
Bhopal,209,21,48,66,19,26,9,20,19,14,...,17,81,45,30,6,13,70,2,17,934
Chennai,249,22,47,30,23,29,20,23,59,29,...,30,9,30,15,2,13,42,0,14,885
City,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
Delhi,205,18,26,41,13,34,22,22,39,20,...,20,20,16,17,3,2,25,0,35,768
Faridabad,127,14,26,25,8,15,11,8,16,16,...,10,11,12,20,5,3,14,1,6,461
Gaurav,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Ghaziabad,127,120,40,31,25,19,13,14,30,9,...,8,23,26,13,8,0,32,1,9,745
Harsh,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Harsha,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,2
Hyderabad,257,136,44,75,33,71,17,49,89,15,...,25,14,44,66,2,2,44,1,29,1340
Indore,225,28,39,15,25,24,7,10,23,10,...,11,14,17,14,4,14,17,0,12,643
Jaipur,96,72,70,110,21,65,19,20,39,37,...,24,12,55,12,10,15,70,0,31,1036
Kalyan,238,90,97,156,28,48,32,52,83,36,...,47,50,48,23,6,15,93,1,22,1570
Kanpur,136,19,42,24,15,26,13,18,38,9,...,12,15,37,10,2,5,20,1,11,609
Khaziabad,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
Kibara,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Kolkata,253,53,59,43,27,54,11,20,48,23,...,10,31,31,13,4,1,81,6,19,1066
Lucknow,228,69,93,162,29,47,22,21,60,17,...,23,27,21,16,9,8,26,1,27,1155
Ludhiana,382,44,65,50,44,33,22,37,36,22,...,25,27,28,25,11,7,22,0,7,1111
M.Com,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
M.Tech,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
ME,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Meerut,142,23,73,64,36,97,12,20,27,12,...,14,11,20,16,7,11,27,0,18,825
Mihir,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Mira,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Mumbai,184,18,31,33,26,35,31,26,42,8,...,10,11,18,20,0,3,42,3,11,699
Nagpur,154,9,36,41,21,23,14,10,55,16,...,16,11,22,15,1,4,13,2,11,651
Nalini,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Nalyan,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Nandini,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
Nashik,73,32,34,29,14,24,9,7,36,5,...,6,34,21,5,4,2,30,1,16,547
Patna,168,44,52,90,53,45,17,18,76,19,...,10,71,23,6,6,2,34,3,25,1007
Pune,226,26,50,42,22,45,25,22,40,18,...,34,30,68,18,11,8,35,1,23,968
Rajkot,195,45,35,43,18,33,25,48,72,14,...,9,19,20,17,5,4,30,2,13,816
Rashi,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Reyansh,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Saanvi,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,2
Srinagar,275,58,64,92,53,45,24,31,59,78,...,19,17,52,41,8,8,57,3,28,1372
Surat,248,49,53,71,49,26,21,28,45,10,...,17,24,42,28,9,9,61,0,15,1078
Thane,236,29,64,81,33,46,18,21,71,26,...,21,13,49,18,6,8,60,0,19,1139
Vaanya,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
Vadodara,133,64,34,47,24,19,24,19,28,25,...,18,12,20,12,15,5,17,1,15,694
Varanasi,127,78,54,51,13,18,17,23,26,18,...,6,9,22,8,1,3,20,1,7,685
Vasai-Virar,267,58,61,64,25,57,24,22,123,21,...,28,29,57,31,24,7,35,1,19,1290
Visakhapatnam,139,44,39,101,31,25,30,16,38,23,...,25,18,95,23,7,7,52,1,12,969
All,6080,1478,1506,1867,810,1152,600,696,1433,613,...,562,696,1044,572,185,191,1190,35,522,27901

Tabela de Frequência Relativa (%):

Analisando combinação: City (qualitativo) vs Have you ever had suicidal thoughts ? (qualitativo)

Tabela de Frequência Absoluta:

Have you ever had suicidal thoughts ?     No    Yes    All
City
'Less Delhi'                               1      0      1
'Less than 5 Kalyan'                       1      0      1
3.0                                        0      1      1
Agra                                     399    695   1094
Ahmedabad                                306    645    951
Bangalore                                295    472    767
Bhavna                                     0      2      2
Bhopal                                   299    635    934
Chennai                                  347    538    885
City                                       2      0      2
Delhi                                    310    458    768
Faridabad                                161    300    461
Gaurav                                     0      1      1
Ghaziabad                                288    457    745
Harsh                                      0      1      1
Harsha                                     1      1      2
Hyderabad                                431    909   1340
Indore                                   244    399    643
Jaipur                                   407    629   1036
Kalyan                                   563   1007   1570
Kanpur                                   222    387    609
Khaziabad                                  0      1      1
Kibara                                     0      1      1
Kolkata                                  406    660   1066
Lucknow                                  468    687   1155
Ludhiana                                 414    697   1111
M.Com                                      0      1      1
M.Tech                                     1      0      1
ME                                         0      1      1
Meerut                                   312    513    825
Mihir                                      0      1      1
Mira                                       1      0      1
Mumbai                                   265    434    699
Nagpur                                   227    424    651
Nalini                                     0      1      1
Nalyan                                     0      1      1
Nandini                                    0      1      1
Nashik                                   211    336    547
Patna                                    345    662   1007
Pune                                     352    616    968
Rajkot                                   291    525    816
Rashi                                      1      0      1
Reyansh                                    1      0      1
Saanvi                                     1      1      2
Srinagar                                 507    865   1372
Surat                                    396    682   1078
Thane                                    398    741   1139
Vaanya                                     0      1      1
Vadodara                                 254    440    694
Varanasi                                 273    412    685
Vasai-Virar                              494    796   1290
Visakhapatnam                            350    619    969
All                                    10245  17656  27901

Tabela de Frequência Relativa (%):

Analisando combinação: City (qualitativo) vs Work/Study Hours (quantitativo)

Analisando combinação: City (qualitativo) vs Financial Stress (qualitativo)

Tabela de Frequência Absoluta:

Financial Stress       1.0   2.0   3.0   4.0   5.0  ?    All
City
'Less Delhi'             1     0     0     0     0  0      1
'Less than 5 Kalyan'     1     0     0     0     0  0      1
3.0                      0     0     0     0     1  0      1
Agra                   207   191   215   252   229  0   1094
Ahmedabad              173   129   172   238   239  0    951
Bangalore              146   138   129   145   209  0    767
Bhavna                   1     0     0     0     1  0      2
Bhopal                 167   195   164   199   209  0    934
Chennai                155   153   192   172   213  0    885
City                     0     2     0     0     0  0      2
Delhi                  143   115   147   168   195  0    768
Faridabad               91    95    78   101    96  0    461
Gaurav                   0     0     0     0     1  0      1
Ghaziabad              163   123   143   144   172  0    745
Harsh                    0     0     0     0     1  0      1
Harsha                   1     0     1     0     0  0      2
Hyderabad              224   217   220   330   348  1   1340
Indore                 114   108   128   139   154  0    643
Jaipur                 169   196   183   218   270  0   1036
Kalyan                 253   332   304   314   367  0   1570
Kanpur                 128   130   105   127   119  0    609
Khaziabad                0     0     0     0     1  0      1
Kibara                   1     0     0     0     0  0      1
Kolkata                200   199   194   220   252  1   1066
Lucknow                254   189   213   221   278  0   1155
Ludhiana               181   216   215   206   293  0   1111
M.Com                    0     0     0     0     1  0      1
M.Tech                   1     0     0     0     0  0      1
ME                       1     0     0     0     0  0      1
Meerut                 166   166   150   163   180  0    825
Mihir                    0     0     1     0     0  0      1
Mira                     0     0     0     0     1  0      1
Mumbai                 124   138   136   117   184  0    699
Nagpur                 132   120   134   126   139  0    651
Nalini                   0     0     1     0     0  0      1
Nalyan                   0     1     0     0     0  0      1
Nandini                  0     1     0     0     0  0      1
Nashik                  97   114   103   119   114  0    547
Patna                  170   149   214   182   292  0   1007
Pune                   188   144   199   191   246  0    968
Rajkot                 150   144   158   181   183  0    816
Rashi                    0     1     0     0     0  0      1
Reyansh                  0     1     0     0     0  0      1
Saanvi                   0     0     0     1     1  0      2
Srinagar               278   233   242   290   329  0   1372
Surat                  195   198   192   218   275  0   1078
Thane                  222   203   204   251   259  0   1139
Vaanya                   0     1     0     0     0  0      1
Vadodara               107   147   148   135   157  0    694
Varanasi               128   113   143   148   152  1    685
Vasai-Virar            233   263   209   266   319  0   1290
Visakhapatnam          156   196   189   193   235  0    969
All                   5121  5061  5226  5775  6715  3  27901

Tabela de Frequência Relativa (%):

Analisando combinação: City (qualitativo) vs Family History of Mental Illness (qualitativo)

Tabela de Frequência Absoluta:

Family History of Mental Illness     No    Yes    All
City
'Less Delhi'                          1      0      1
'Less than 5 Kalyan'                  1      0      1
3.0                                   1      0      1
Agra                                572    522   1094
Ahmedabad                           490    461    951
Bangalore                           391    376    767
Bhavna                                1      1      2
Bhopal                              458    476    934
Chennai                             458    427    885
City                                  1      1      2
Delhi                               394    374    768
Faridabad                           234    227    461
Gaurav                                0      1      1
Ghaziabad                           401    344    745
Harsh                                 0      1      1
Harsha                                2      0      2
Hyderabad                           632    708   1340
Indore                              333    310    643
Jaipur                              543    493   1036
Kalyan                              890    680   1570
Kanpur                              316    293    609
Khaziabad                             1      0      1
Kibara                                0      1      1
Kolkata                             550    516   1066
Lucknow                             603    552   1155
Ludhiana                            574    537   1111
M.Com                                 1      0      1
M.Tech                                1      0      1
ME                                    1      0      1
Meerut                              475    350    825
Mihir                                 0      1      1
Mira                                  1      0      1
Mumbai                              351    348    699
Nagpur                              337    314    651
Nalini                                1      0      1
Nalyan                                0      1      1
Nandini                               0      1      1
Nashik                              269    278    547
Patna                               534    473   1007
Pune                                487    481    968
Rajkot                              368    448    816
Rashi                                 1      0      1
Reyansh                               1      0      1
Saanvi                                1      1      2
Srinagar                            705    667   1372
Surat                               569    509   1078
Thane                               617    522   1139
Vaanya                                0      1      1
Vadodara                            350    344    694
Varanasi                            339    346    685
Vasai-Virar                         641    649   1290
Visakhapatnam                       501    468    969
All                               14398  13503  27901

Tabela de Frequência Relativa (%):

Analisando combinação: City (qualitativo) vs Depression (quantitativo)

Analisando combinação: Profession (qualitativo) vs Academic Pressure (quantitativo)

Analisando combinação: Profession (qualitativo) vs Work Pressure (quantitativo)

Analisando combinação: Profession (qualitativo) vs CGPA (quantitativo)

Analisando combinação: Profession (qualitativo) vs Study Satisfaction (quantitativo)

Analisando combinação: Profession (qualitativo) vs Job Satisfaction (quantitativo)

Analisando combinação: Profession (qualitativo) vs Sleep Duration (qualitativo)

Tabela de Frequência Absoluta:

Sleep Duration,'5-6 hours','7-8 hours','Less than 5 hours','More than 8 hours',Others,All
Profession,,,,,,
'Civil Engineer',1,0,0,0,0,1
'Content Writer',1,1,0,0,0,2
'Digital Marketer',1,0,1,1,0,3
'Educational Consultant',0,1,0,0,0,1
'UX/UI Designer',0,1,0,0,0,1
Architect,1,1,2,4,0,8
Chef,0,2,0,0,0,2
Doctor,0,0,2,0,0,2
Entrepreneur,0,0,1,0,0,1
Lawyer,0,0,0,1,0,1
Manager,0,0,0,1,0,1
Pharmacist,0,1,0,1,0,2
Student,6177,7337,8303,6035,18,27870
Teacher,2,2,1,1,0,6
All,6183,7346,8310,6044,18,27901

Tabela de Frequência Relativa (%):

Analisando combinação: Profession (qualitativo) vs Dietary Habits (qualitativo)

Tabela de Frequência Absoluta:

Dietary Habits            Healthy  Moderate  Others  Unhealthy    All
Profession
'Civil Engineer'                1         0       0          0      1
'Content Writer'                0         2       0          0      2
'Digital Marketer'              2         1       0          0      3
'Educational Consultant'        1         0       0          0      1
'UX/UI Designer'                0         1       0          0      1
Architect                       2         3       0          3      8
Chef                            1         1       0          0      2
Doctor                          2         0       0          0      2
Entrepreneur                    0         1       0          0      1
Lawyer                          0         0       0          1      1
Manager                         1         0       0          0      1
Pharmacist                      1         0       0          1      2
Student                      7639      9910      12      10309  27870
Teacher                         1         2       0          3      6
All                          7651      9921      12      10317  27901

Tabela de Frequência Relativa (%):

Analisando combinação: Profession (qualitativo) vs Degree (qualitativo)

Tabela de Frequência Absoluta:

Degree,'Class 12',B.Arch,B.Com,B.Ed,B.Pharm,B.Tech,BA,BBA,BCA,BE,...,MBA,MBBS,MCA,MD,ME,MHM,MSc,Others,PhD,All
Profession,,,,,,,,,,,,,,,,,,,,,
'Civil Engineer',0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
'Content Writer',0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
'Digital Marketer',0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,3
'Educational Consultant',0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
'UX/UI Designer',0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
Architect,0,1,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,2,0,0,8
Chef,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
Doctor,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,2
Entrepreneur,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
Lawyer,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Manager,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Pharmacist,0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,2
Student,6080,1477,1506,1864,809,1152,599,695,1432,612,...,562,695,1042,569,185,191,1186,35,521,27870
Teacher,0,0,0,1,0,0,0,0,1,1,...,0,0,0,2,0,0,1,0,0,6
All,6080,1478,1506,1867,810,1152,600,696,1433,613,...,562,696,1044,572,185,191,1190,35,522,27901

Tabela de Frequência Relativa (%):

Analisando combinação: Profession (qualitativo) vs Have you ever had suicidal thoughts ? (qualitativo)

Tabela de Frequência Absoluta:

Have you ever had suicidal thoughts ?     No    Yes    All
Profession
'Civil Engineer'                           0      1      1
'Content Writer'                           0      2      2
'Digital Marketer'                         1      2      3
'Educational Consultant'                   0      1      1
'UX/UI Designer'                           0      1      1
Architect                                  3      5      8
Chef                                       0      2      2
Doctor                                     1      1      2
Entrepreneur                               0      1      1
Lawyer                                     0      1      1
Manager                                    1      0      1
Pharmacist                                 0      2      2
Student                                10239  17631  27870
Teacher                                    0      6      6
All                                    10245  17656  27901

Tabela de Frequência Relativa (%):

Analisando combinação: Profession (qualitativo) vs Work/Study Hours (quantitativo)

Analisando combinação: Profession (qualitativo) vs Financial Stress (qualitativo)

Tabela de Frequência Absoluta:

Financial Stress           1.0   2.0   3.0   4.0   5.0  ?    All
Profession
'Civil Engineer'             0     0     1     0     0  0      1
'Content Writer'             0     1     0     0     1  0      2
'Digital Marketer'           0     0     1     0     2  0      3
'Educational Consultant'     0     0     0     0     1  0      1
'UX/UI Designer'             0     0     1     0     0  0      1
Architect                    2     0     1     1     4  0      8
Chef                         0     0     1     1     0  0      2
Doctor                       1     0     0     1     0  0      2
Entrepreneur                 0     0     1     0     0  0      1
Lawyer                       0     0     0     1     0  0      1
Manager                      0     0     0     0     1  0      1
Pharmacist                   0     1     0     0     1  0      2
Student                   5116  5058  5219  5770  6704  3  27870
Teacher                      2     1     1     1     1  0      6
All                       5121  5061  5226  5775  6715  3  27901

Tabela de Frequência Relativa (%):

Analisando combinação: Profession (qualitativo) vs Family History of Mental Illness (qualitativo)

Tabela de Frequência Absoluta:

Family History of Mental Illness     No    Yes    All
Profession
'Civil Engineer'                      0      1      1
'Content Writer'                      1      1      2
'Digital Marketer'                    1      2      3
'Educational Consultant'              0      1      1
'UX/UI Designer'                      1      0      1
Architect                             1      7      8
Chef                                  1      1      2
Doctor                                2      0      2
Entrepreneur                          1      0      1
Lawyer                                1      0      1
Manager                               1      0      1
Pharmacist                            1      1      2
Student                           14384  13486  27870
Teacher                               3      3      6
All                               14398  13503  27901

Tabela de Frequência Relativa (%):

Analisando combinação: Profession (qualitativo) vs Depression (quantitativo)

Analisando combinação: Academic Pressure (quantitativo) vs Work Pressure (quantitativo)

Analisando combinação: Academic Pressure (quantitativo) vs CGPA (quantitativo)

Analisando combinação: Academic Pressure (quantitativo) vs Study Satisfaction (quantitativo)

Analisando combinação: Academic Pressure (quantitativo) vs Job Satisfaction (quantitativo)

Analisando combinação: Academic Pressure (quantitativo) vs Sleep Duration (qualitativo)

Analisando combinação: Academic Pressure (quantitativo) vs Dietary Habits (qualitativo)

Analisando combinação: Academic Pressure (quantitativo) vs Degree (qualitativo)

Analisando combinação: Academic Pressure (quantitativo) vs Have you ever had suicidal thoughts ? (qualitativo)

Analisando combinação: Academic Pressure (quantitativo) vs Work/Study Hours (quantitativo)

Analisando combinação: Academic Pressure (quantitativo) vs Financial Stress (qualitativo)

Analisando combinação: Academic Pressure (quantitativo) vs Family History of Mental Illness (qualitativo)

Analisando combinação: Academic Pressure (quantitativo) vs Depression (quantitativo)

Analisando combinação: Work Pressure (quantitativo) vs CGPA (quantitativo)

Analisando combinação: Work Pressure (quantitativo) vs Study Satisfaction (quantitativo)

Analisando combinação: Work Pressure (quantitativo) vs Job Satisfaction (quantitativo)

Analisando combinação: Work Pressure (quantitativo) vs Sleep Duration (qualitativo)

Analisando combinação: Work Pressure (quantitativo) vs Dietary Habits (qualitativo)

Analisando combinação: Work Pressure (quantitativo) vs Degree (qualitativo)

Analisando combinação: Work Pressure (quantitativo) vs Have you ever had suicidal thoughts ? (qualitativo)

Analisando combinação: Work Pressure (quantitativo) vs Work/Study Hours (quantitativo)

Analisando combinação: Work Pressure (quantitativo) vs Financial Stress (qualitativo)

Analisando combinação: Work Pressure (quantitativo) vs Family History of Mental Illness (qualitativo)

Analisando combinação: Work Pressure (quantitativo) vs Depression (quantitativo)

Analisando combinação: CGPA (quantitativo) vs Study Satisfaction (quantitativo)

Analisando combinação: CGPA (quantitativo) vs Job Satisfaction (quantitativo)

Analisando combinação: CGPA (quantitativo) vs Sleep Duration (qualitativo)

Analisando combinação: CGPA (quantitativo) vs Dietary Habits (qualitativo)

Analisando combinação: CGPA (quantitativo) vs Degree (qualitativo)

Analisando combinação: CGPA (quantitativo) vs Have you ever had suicidal thoughts ? (qualitativo)

Analisando combinação: CGPA (quantitativo) vs Work/Study Hours (quantitativo)

Analisando combinação: CGPA (quantitativo) vs Financial Stress (qualitativo)

Analisando combinação: CGPA (quantitativo) vs Family History of Mental Illness (qualitativo)

Analisando combinação: CGPA (quantitativo) vs Depression (quantitativo)

Analisando combinação: Study Satisfaction (quantitativo) vs Job Satisfaction (quantitativo)

Analisando combinação: Study Satisfaction (quantitativo) vs Sleep Duration (qualitativo)

Analisando combinação: Study Satisfaction (quantitativo) vs Dietary Habits (qualitativo)

Analisando combinação: Study Satisfaction (quantitativo) vs Degree (qualitativo)

Analisando combinação: Study Satisfaction (quantitativo) vs Have you ever had suicidal thoughts ? (qualitativo)

Analisando combinação: Study Satisfaction (quantitativo) vs Work/Study Hours (quantitativo)

Analisando combinação: Study Satisfaction (quantitativo) vs Financial Stress (qualitativo)

Analisando combinação: Study Satisfaction (quantitativo) vs Family History of Mental Illness (qualitativo)

Analisando combinação: Study Satisfaction (quantitativo) vs Depression (quantitativo)

Analisando combinação: Job Satisfaction (quantitativo) vs Sleep Duration (qualitativo)

Analisando combinação: Job Satisfaction (quantitativo) vs Dietary Habits (qualitativo)

Analisando combinação: Job Satisfaction (quantitativo) vs Degree (qualitativo)

Analisando combinação: Job Satisfaction (quantitativo) vs Have you ever had suicidal thoughts ? (qualitativo)

Analisando combinação: Job Satisfaction (quantitativo) vs Work/Study Hours (quantitativo)

Analisando combinação: Job Satisfaction (quantitativo) vs Financial Stress (qualitativo)

Analisando combinação: Job Satisfaction (quantitativo) vs Family History of Mental Illness (qualitativo)

Analisando combinação: Job Satisfaction (quantitativo) vs Depression (quantitativo)

Analisando combinação: Sleep Duration (qualitativo) vs Dietary Habits (qualitativo)

Tabela de Frequência Absoluta:

Dietary Habits       Healthy  Moderate  Others  Unhealthy    All
Sleep Duration
'5-6 hours'             1783      2217       3       2180   6183
'7-8 hours'             2008      2515       3       2820   7346
'Less than 5 hours'     2197      3040       5       3068   8310
'More than 8 hours'     1660      2142       1       2241   6044
Others                     3         7       0          8     18
All                     7651      9921      12      10317  27901

Tabela de Frequência Relativa (%):

Analisando combinação: Sleep Duration (qualitativo) vs Degree (qualitativo)

Tabela de Frequência Absoluta:

Degree,'Class 12',B.Arch,B.Com,B.Ed,B.Pharm,B.Tech,BA,BBA,BCA,BE,...,MBA,MBBS,MCA,MD,ME,MHM,MSc,Others,PhD,All
Sleep Duration,,,,,,,,,,,,,,,,,,,,,
'5-6 hours',1309,326,310,380,214,259,133,184,324,148,...,122,148,225,143,33,48,273,5,110,6183
'7-8 hours',1561,419,385,474,210,308,177,161,364,159,...,151,181,293,160,59,55,304,10,136,7346
'Less than 5 hours',1803,414,519,615,204,339,161,199,464,173,...,173,219,275,170,58,45,362,12,153,8310
'More than 8 hours',1407,317,291,397,182,246,126,152,281,131,...,115,148,250,99,35,43,250,8,121,6044
Others,0,2,1,1,0,0,3,0,0,2,...,1,0,1,0,0,0,1,0,2,18
All,6080,1478,1506,1867,810,1152,600,696,1433,613,...,562,696,1044,572,185,191,1190,35,522,27901

Tabela de Frequência Relativa (%):

Analisando combinação: Sleep Duration (qualitativo) vs Have you ever had suicidal thoughts ? (qualitativo)

Tabela de Frequência Absoluta:

Have you ever had suicidal thoughts ?     No    Yes    All
Sleep Duration
'5-6 hours'                             2347   3836   6183
'7-8 hours'                             2573   4773   7346
'Less than 5 hours'                     2767   5543   8310
'More than 8 hours'                     2551   3493   6044
Others                                     7     11     18
All                                    10245  17656  27901

Tabela de Frequência Relativa (%):

Analisando combinação: Sleep Duration (qualitativo) vs Work/Study Hours (quantitativo)

Analisando combinação: Sleep Duration (qualitativo) vs Financial Stress (qualitativo)

Tabela de Frequência Absoluta:

Financial Stress      1.0   2.0   3.0   4.0   5.0  ?    All
Sleep Duration
'5-6 hours'          1094  1186  1206  1319  1376  2   6183
'7-8 hours'          1270  1327  1378  1607  1764  0   7346
'Less than 5 hours'  1636  1390  1502  1635  2146  1   8310
'More than 8 hours'  1116  1154  1136  1212  1426  0   6044
Others                  5     4     4     2     3  0     18
All                  5121  5061  5226  5775  6715  3  27901

Tabela de Frequência Relativa (%):

Analisando combinação: Sleep Duration (qualitativo) vs Family History of Mental Illness (qualitativo)

Tabela de Frequência Absoluta:

Family History of Mental Illness     No    Yes    All
Sleep Duration
'5-6 hours'                        3179   3004   6183
'7-8 hours'                        3847   3499   7346
'Less than 5 hours'                4214   4096   8310
'More than 8 hours'                3148   2896   6044
Others                               10      8     18
All                               14398  13503  27901

Tabela de Frequência Relativa (%):

Analisando combinação: Sleep Duration (qualitativo) vs Depression (quantitativo)

Analisando combinação: Dietary Habits (qualitativo) vs Degree (qualitativo)

Tabela de Frequência Absoluta:

Degree,'Class 12',B.Arch,B.Com,B.Ed,B.Pharm,B.Tech,BA,BBA,BCA,BE,...,MBA,MBBS,MCA,MD,ME,MHM,MSc,Others,PhD,All
Dietary Habits,,,,,,,,,,,,,,,,,,,,,
Healthy,1565,358,404,484,218,285,171,222,392,195,...,169,214,307,166,56,56,342,9,148,7651
Moderate,2085,553,543,769,331,449,208,211,455,219,...,187,267,365,183,62,57,396,9,170,9921
Others,1,0,1,1,1,1,0,0,1,0,...,0,0,2,0,0,0,0,0,0,12
Unhealthy,2429,567,558,613,260,417,221,263,585,199,...,206,215,370,223,67,78,452,17,204,10317
All,6080,1478,1506,1867,810,1152,600,696,1433,613,...,562,696,1044,572,185,191,1190,35,522,27901

Tabela de Frequência Relativa (%):

Analisando combinação: Dietary Habits (qualitativo) vs Have you ever had suicidal thoughts ? (qualitativo)

Tabela de Frequência Absoluta:

Have you ever had suicidal thoughts ?     No    Yes    All
Dietary Habits
Healthy                                 3362   4289   7651
Moderate                                3751   6170   9921
Others                                     2     10     12
Unhealthy                               3130   7187  10317
All                                    10245  17656  27901

Tabela de Frequência Relativa (%):

Analisando combinação: Dietary Habits (qualitativo) vs Work/Study Hours (quantitativo)

Analisando combinação: Dietary Habits (qualitativo) vs Financial Stress (qualitativo)

Tabela de Frequência Absoluta:

Financial Stress   1.0   2.0   3.0   4.0   5.0  ?    All
Dietary Habits
Healthy           1579  1523  1432  1554  1561  2   7651
Moderate          1921  1892  1883  1961  2264  0   9921
Others               3     1     2     3     3  0     12
Unhealthy         1618  1645  1909  2257  2887  1  10317
All               5121  5061  5226  5775  6715  3  27901

Tabela de Frequência Relativa (%):

Analisando combinação: Dietary Habits (qualitativo) vs Family History of Mental Illness (qualitativo)

Tabela de Frequência Absoluta:

Family History of Mental Illness     No    Yes    All
Dietary Habits
Healthy                            3952   3699   7651
Moderate                           5163   4758   9921
Others                                9      3     12
Unhealthy                          5274   5043  10317
All                               14398  13503  27901

Tabela de Frequência Relativa (%):

Analisando combinação: Dietary Habits (qualitativo) vs Depression (quantitativo)

Analisando combinação: Degree (qualitativo) vs Have you ever had suicidal thoughts ? (qualitativo)

Tabela de Frequência Absoluta:

Have you ever had suicidal thoughts ?     No    Yes    All
Degree
'Class 12'                              1883   4197   6080
B.Arch                                   565    913   1478
B.Com                                    554    952   1506
B.Ed                                     710   1157   1867
B.Pharm                                  340    470    810
B.Tech                                   448    704   1152
BA                                       230    370    600
BBA                                      255    441    696
BCA                                      528    905   1433
BE                                       221    392    613
BHM                                      359    566    925
BSc                                      333    555    888
LLB                                      261    410    671
LLM                                      191    291    482
M.Com                                    292    442    734
M.Ed                                     352    469    821
M.Pharm                                  203    379    582
M.Tech                                   419    603   1022
MA                                       203    341    544
MBA                                      215    347    562
MBBS                                     262    434    696
MCA                                      432    612   1044
MD                                       208    364    572
ME                                        69    116    185
MHM                                       69    122    191
MSc                                      413    777   1190
Others                                    15     20     35
PhD                                      215    307    522
All                                    10245  17656  27901

Tabela de Frequência Relativa (%):

Analisando combinação: Degree (qualitativo) vs Work/Study Hours (quantitativo)

Analisando combinação: Degree (qualitativo) vs Financial Stress (qualitativo)

Tabela de Frequência Absoluta:

Financial Stress   1.0   2.0   3.0   4.0   5.0  ?    All
Degree
'Class 12'         913  1073  1118  1355  1621  0   6080
B.Arch             275   235   313   270   385  0   1478
B.Com              287   294   258   292   375  0   1506
B.Ed               373   335   347   395   416  1   1867
B.Pharm            166   138   155   148   203  0    810
B.Tech             226   216   221   252   237  0   1152
BA                 120   118   129   115   118  0    600
BBA                114   121   133   163   165  0    696
BCA                259   285   258   293   337  1   1433
BE                 115   101   126   123   148  0    613
BHM                203   165   153   181   223  0    925
BSc                168   158   178   161   223  0    888
LLB                125   128   126   132   160  0    671
LLM                104    96    96    84   102  0    482
M.Com              145   127   134   158   170  0    734
M.Ed               178   158   148   158   179  0    821
M.Pharm            100   108   123   115   136  0    582
M.Tech             208   189   171   223   231  0   1022
MA                 102   106   104   125   107  0    544
MBA                107   110   100   143   102  0    562
MBBS               106   129   132   137   191  1    696
MCA                214   185   175   230   240  0   1044
MD                 118   115   117   101   121  0    572
ME                  32    41    39    29    44  0    185
MHM                 26    41    55    28    41  0    191
MSc                220   212   208   236   314  0   1190
Others               8     1     6    10    10  0     35
PhD                109    76   103   118   116  0    522
All               5121  5061  5226  5775  6715  3  27901

Tabela de Frequência Relativa (%):

Analisando combinação: Degree (qualitativo) vs Family History of Mental Illness (qualitativo)

Tabela de Frequência Absoluta:

Family History of Mental Illness     No    Yes    All
Degree
'Class 12'                         3098   2982   6080
B.Arch                              753    725   1478
B.Com                               788    718   1506
B.Ed                                971    896   1867
B.Pharm                             418    392    810
B.Tech                              650    502   1152
BA                                  312    288    600
BBA                                 321    375    696
BCA                                 766    667   1433
BE                                  318    295    613
BHM                                 492    433    925
BSc                                 475    413    888
LLB                                 337    334    671
LLM                                 246    236    482
M.Com                               396    338    734
M.Ed                                442    379    821
M.Pharm                             314    268    582
M.Tech                              545    477   1022
MA                                  276    268    544
MBA                                 294    268    562
MBBS                                317    379    696
MCA                                 505    539   1044
MD                                  299    273    572
ME                                   92     93    185
MHM                                  96     95    191
MSc                                 597    593   1190
Others                               19     16     35
PhD                                 261    261    522
All                               14398  13503  27901

Tabela de Frequência Relativa (%):

Analisando combinação: Degree (qualitativo) vs Depression (quantitativo)

Analisando combinação: Have you ever had suicidal thoughts ? (qualitativo) vs Work/Study Hours (quantitativo)

Analisando combinação: Have you ever had suicidal thoughts ? (qualitativo) vs Financial Stress (qualitativo)

Tabela de Frequência Absoluta:

Financial Stress                        1.0   2.0   3.0   4.0   5.0  ?    All
Have you ever had suicidal thoughts ?
No                                     2656  2318  1879  1758  1631  3  10245
Yes                                    2465  2743  3347  4017  5084  0  17656
All                                    5121  5061  5226  5775  6715  3  27901

Tabela de Frequência Relativa (%):

Analisando combinação: Have you ever had suicidal thoughts ? (qualitativo) vs Family History of Mental Illness (qualitativo)

Tabela de Frequência Absoluta:

Family History of Mental Illness          No    Yes    All
Have you ever had suicidal thoughts ?
No                                      5463   4782  10245
Yes                                     8935   8721  17656
All                                    14398  13503  27901

Tabela de Frequência Relativa (%):

Analisando combinação: Have you ever had suicidal thoughts ? (qualitativo) vs Depression (quantitativo)

Analisando combinação: Work/Study Hours (quantitativo) vs Financial Stress (qualitativo)

Analisando combinação: Work/Study Hours (quantitativo) vs Family History of Mental Illness (qualitativo)

Analisando combinação: Work/Study Hours (quantitativo) vs Depression (quantitativo)

Analisando combinação: Financial Stress (qualitativo) vs Family History of Mental Illness (qualitativo)

Tabela de Frequência Absoluta:

Family History of Mental Illness     No    Yes    All
Financial Stress
1.0                                2577   2544   5121
2.0                                2772   2289   5061
3.0                                2714   2512   5226
4.0                                2899   2876   5775
5.0                                3435   3280   6715
?                                     1      2      3
All                               14398  13503  27901

Tabela de Frequência Relativa (%):

Analisando combinação: Financial Stress (qualitativo) vs Depression (quantitativo)

Analisando combinação: Family History of Mental Illness (qualitativo) vs Depression (quantitativo)

In [21]:
pdf_file = pdf_gen.generate_pdf("analise_descritiva.pdf")
print(f"PDF gerado com sucesso: {pdf_file}")

# Opcional: fazer download no Kaggle
from IPython.display import FileLink
FileLink(pdf_file)

PDF gerado com sucesso: analise_descritiva.pdf

/kaggle/working/analise_descritiva.pdf